@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";
@theme {
  --color-rhprimary: #b32346;
  --color-primary-dark: #1E40AF;
  --color-rhsecondary: #46052d;
  --color-secondary-dark: #46052d;
}